
.idea
.DS_Store
.history

# Eclipse #
.classpath
.project
.settings/
target


# Play! #
logs
.swagger-codegen-ignore
client/.gitignore
client/.swagger-codegen-ignore
client/build.gradle
client/build.sbt
client/git_push.sh
client/gradle.properties
client/gradle/
client/gradlew
client/gradlew.bat
client/pom.xml
client/settings.gradle
client/src/

# Play! #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
#/dist/
.cache
.cache-main
.cache-tests

# extra #
NO__lib

