[submodule "kong/kubernetes"]
	path = kong/kubernetes
	url = https://github.com/Mashape/kong-dist-kubernetes.git
[submodule "livy/livy"]
	path = livy/livy
	url = https://github.com/teamdigitale/livy.git
[submodule "opentsdb/spark-opentsdb"]
	path = opentsdb/spark-opentsdb
	url = https://github.com/teamdigitale/spark-opentsdb.git
