[submodule "kong/kubernetes"]
	path = kong/kubernetes
	url = https://github.com/Mashape/kong-dist-kubernetes.git
[submodule "opentsdb/spark-opentsdb"]
	path = opentsdb/spark-opentsdb
	url = https://github.com/teamdigitale/spark-opentsdb.git
[submodule "livy/incubator-livy"]
	path = livy/incubator-livy
	url = https://github.com/teamdigitale/incubator-livy.git
	branch = master
[submodule "ckan/docker"]
	path = ckan/docker
	url = https://github.com/italia/dati-ckan-docker.git
	branch = master
