target
.idea
logs
.DS_Store
.history
logs
*/build
*/conf/prodExt.conf
*/conf/testExt.conf
*/conf/prodLocal.conf
*/conf/testLocal.conf
*/localConfigs/*
iot_ingestion_manager/common/src/generated
.ipynb_checkpoints
catalog_manager/conf/cluster_application.conf
catalog_manager/conf/integration.conf
security_manager/cert/*.jks
security_manager/cert/test/*.jks
*/conf/production/
catalog_manager/conf/cross_spec
ingestion_manager/conf/
storage_manager_core
storage_manager/playApi/conf/production.conf
storage_manager/core/opendata
