<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration status="INFO"-->
<Configuration >
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy MMM dd HH:mm:ss.SSS Z}  -  [%t] %-5p %c - %m%ex%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>

        <!-- This logs all log messages -->
        <RollingFile name="File" fileName="logs/INFO.iotIngestionManager.${date:yyyyMMdd-HHmmss}.log"
                     filePattern="logs/INFO.iotIngestionManager.${date:yyyyMMdd-HHmmss}.-%i.log.gz" append="false">
            <PatternLayout pattern="%d{yyyy MMM dd HH:mm:ss.SSS Z}  -  [%t] %-5p %c - %m%ex%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <RollingFile name="FileError" fileName="logs/ERROR.iotIngestionManager.${date:yyyyMMdd-HHmmss}.log"
                     filePattern="logs/ERROR.iotIngestionManager.${date:yyyyMMdd-HHmmss}-%i.log.gz" append="false">
            <PatternLayout pattern="%d{yyyy MMM dd HH:mm:ss.SSS Z}  -  [%t] %-5p %c - %m%ex%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="FileError" level="error"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>