<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <logger name="application" level="INFO"/>
    <logger name="controllers" level="DEBUG"/>
    <logger name="it.teamdigitale" level="DEBUG" />
    <logger name="it.gov" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
