
{% import 'macros/form.html' as form %}

{% import 'macros/dcatapit_form_macros.html' as dcatapit_form_macros %}

{% for field in schema_fields %}
      {% if not field.ignore and not field.ignore_from_edit %}

            {% if field.element == 'input' %}

                  {{ form.input(field.name, label=field.label, id='field-' + field.name, placeholder=field.placeholder, type=field.type, value=data[field.name], error=errors[field.name], classes=['control-medium'], is_required=field.is_required) }}

            {% elif field.element == 'select' %}
            
                  {% set options = h.get_vocabulary_items(field.vocabulary_name) if field.type == 'vocabulary' else field.options %}

                  {{ form.select(field.name, label=field.label, options=options, selected=data[field.name], error=errors[field.name]) }}

            {% elif field.element == 'multiselect' %}

                  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': field.data_module_source} %}

                  {{ form.input(field.name, id='field-' + field.name, label=field.label, placeholder=field.placeholder, value=data[field.name], error=errors[field.name], classes=['control-full'], attrs=tag_attrs, is_required=field.is_required) }}

            {% elif field.element == 'theme' %}
            
                  {% set options = h.get_vocabulary_items(field.vocabulary_name) if field.type == 'vocabulary' else field.options %}
                  
                  {{ 
                        dcatapit_form_macros.theme(
                              field.name,
                              id='field-' + field.name,
                              label=field.label,
                              value=data[field.name],
                              placeholder=field.placeholder,
                              error=errors[field.name],
                              options=options,
                              type=field.type,
                              classes=['control-full'],
                              is_required=field.is_required)
                  }}

            {% elif field.element == 'couple' %}

                  {# -------------------------------------------------------------------------------
                  {% set couple_values = data[field.name].split(',') if data[field.name] else ['', ''] %}

                  {{ 
                        dcatapit_form_macros.couple(
                              field.name,
                              labels=(field.couples[0].label, field.couples[1].label),
                              names=(field.couples[0].name, field.couples[1].name),
                              id='field-range-' + field.name, 
                              label=field.label,
                              values=(couple_values[0], couple_values[1], False),
                              error=errors[field.couples[0].name] or errors[field.couples[1].name],
                              type=field.type,
                              is_required=field.is_required)
                  }}
                  ------------------------------------------------------------------------------- #}

                  {{ 
                        dcatapit_form_macros.couple(
                              field.name,
                              labels=(field.couples[0].label, field.couples[1].label),
                              names=(field.couples[0].name, field.couples[1].name),
                              id='field-range-' + field.name, 
                              label=field.label,
                              values=(data[field.couples[0].name], data[field.couples[1].name], False),
                              error=errors[field.couples[0].name] or errors[field.couples[1].name],
                              types=(field.couples[0].type, field.couples[1].type),
                              is_required=field.is_required)
                  }}

            {% elif field.element == 'textarea' %}

                  {{ form.textarea(field.name, label=field.label, id='field-' + field.name, placeholder=field.placeholder, value=data[field.name], error=errors[field.name], classes=['control-full']) }}

            {% endif %}

      {% endif %}

{% endfor %}