
<section class="additional-info">
  <h3>{{ _('Dataset Metadata') }}</h3>

  <table class="table table-striped table-bordered table-condensed">
    <tbody>
		{% block dcatapit_additional_info %}
			{% set schema_fields = h.get_dcatapit_package_schema() %}

			{% for field in schema_fields %}	  

				{% if not field.ignore and not field.ignore_from_info %}

				  	{% if field.element == 'couple' %}

				  		{% set couples = h.couple_to_html(field.couples, pkg_dict)%}

		  		        <tr>
					      <th scope="row" class="dataset-label">{{ field.label }}</th>
				          <td class="dataset-details">
				          	{% if couples %}
					          	{% for couple in couples %}
					          		{{ couple or _('N/D') }} <br/>
					          	{% endfor %}
				          	{% else %}
				          		{{ _('N/D') }}
				          	{% endif %}
				          </td>
					    </tr>

					{% else %}

						{% if pkg_dict[field.name] %}

							{# -- get_localized_field_value call can be omitted because ckanext-multilang and custom fields localization methods in this plugin do this automatically -- #}
							{#% set field_localized = h.get_vocabulary_items(field.vocabulary_name, pkg_dict[field.name][1:-1].split(",") if ',' in pkg_dict[field.name] else [pkg_dict[field.name]]) if field.type == 'vocabulary' else h.get_localized_field_value(pkg_dict[field.name], pkg_dict['id'])%}
					  		{% set value_field = field_localized or pkg_dict[field.name]%#}

					  		{% set value_field = h.get_vocabulary_items(field.vocabulary_name, pkg_dict[field.name][1:-1].split(",") if ',' in pkg_dict[field.name] else [pkg_dict[field.name]]) if field.type == 'vocabulary' else pkg_dict[field.name]%}

						  	{% if value_field is iterable and value_field is not string %}
							  	<tr>
							      <th scope="row" class="dataset-label">{{ field.label }}</th>
							      <td class="dataset-details">{{ h.list_to_string(value_field, field.format) or field.default or _('N/D') }}</td>
							    </tr>
							{% else %}
						        <tr>
							      <th scope="row" class="dataset-label">{{ field.label }}</th>
								  {% if h.is_url(value_field) %}
						          	<td class="dataset-details">{{ h.link_to(value_field, value_field, rel='', target='_blank') or field.default or _('N/D') }}</td>
						          {% else %}
						         	<td class="dataset-details">{{ h.format(value_field, field.format, field.type) or field.default or _('N/D') }}</td>
						          {% endif %}
							    </tr>
						    {% endif %}

					    {% else %}

					    	<tr>
							    <th scope="row" class="dataset-label">{{ field.label }}</th>
								<td class="dataset-details">{{ field.default or _('N/D') }}</td>
							</tr>		
									    	
					    {% endif %}

				  	{% endif %}

			  	{% endif %}	  

			{% endfor %}

		{% endblock %}
    </tbody>
  </table>
</section>
