global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option redispatch
        retries 3
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

listen stats :9090
        balance
        mode http
        stats enable
        stats auth admin:admin

listen impala_jdbc :32000
        mode tcp
        option tcplog
        balance leastconn

        server slave1 192.168.0.22:21050 check
        server slave2 192.168.0.24:21050 check
        server slave3 192.168.0.26:21050 check
        server slave4 192.168.0.36:21050 check
